@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="font-weight-light font-italic text-left" style="max-width:600px; margin: auto;">
        If you had the strength, you could live. This is our contract.
        In return for my gift of power, you must grant one of my wishes.
        If you enter this contract, you will live as a human, but also as one completely different.
        Different rules, different time, a different life...
        The power of the king will make you lonely indeed. If you are prepared for that, then...
    </p>
    <a class="btn btn-primary mt-4" asp-controller="nSeedLogin" asp-action="Login" >Enter nSeed</a>


    <div class="font-weight-light font-italic text-left" style="max-width:600px; margin: auto;">
    @foreach (var item in ViewData["StorageInfo"] as List<Tuple<long, long, int>>)
    {
        <span>disk name here</span>
        <div class="outer">
            <div class="inner" style="width:@(100-@item.Item3)%"></div>
        </div>
    }
    </div>
    <style>
        .outer {
            display: block;
            height: 20px;
            background: linear-gradient(90deg, #ecc2ad 0%, #fac18c 100%);
            border-radius: 3px;
            outline: 1px solid white;
            margin-top: 3px;
            margin-bottom: 10px;
        }

        .inner {
            height: 20px;
            background: linear-gradient(90deg, #D58D6A 0%, #d27e8a 100%);
            border-radius: 3px;
        }
    </style>

</div>
