@{
    Layout = null;
}
<div class="torrent_lenyilo_lehetoseg">
    <div class="lehetosegek">Lehetőségeid:</div>
    <div class="letoltve">
        <a href="torrents.php?action=download&id=3307450&key=56a267f2b0d7f1e2f6d3cc52d7890bdc"><img class="torr_reszletek_btn" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7"></a>
    </div>
    <div class="letoltve_txt">
        <a title="Prémium akció" alt="Prémium akció" href="torrents.php?action=download&id=3307450&key=56a267f2b0d7f1e2f6d3cc52d7890bdc">Letöltés</a>
    </div>
    <div class="download_separ"></div>
    <div class="nfo">
        <a href="javascript:void(0);" onclick="getNfo('ncoreajax3307450_nfo', '3307450');"><img class="torr_reszletek_btn" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7"></a>
    </div>
    <div class="nfo_txt">
        <a href="javascript:void(0);" onclick="getNfo('ncoreajax3307450_nfo', '3307450');">Tech info</a>
    </div>
    <div class="download_separ"></div>
    <div class="t_details">
        <a href="torrents.php?action=details&id=3307450"><img class="torr_reszletek_btn" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7"></a>
    </div>
    <div class="t_details_txt">
        <a href="torrents.php?action=details&id=3307450">Részletek</a>
    </div>
    <div class="download_separ"></div>
    <div class="t_comments">
        <a href="torrents.php?action=details&id=3307450#comments"><img class="torr_reszletek_btn" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7"></a>
    </div>
    <div class="t_comments_txt">
        <a href="torrents.php?action=details&id=3307450#comments">Hozzászólások (0)</a>
    </div>
    <div class="download_separ"></div>
    <div class="fajlok">
        <a href="javascript:void(0);" onclick="files('ncoreajax3307450_files', '3307450');"><img class="torr_reszletek_btn" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7"></a>
    </div>
    <div class="fajlok_txt">
        <a href="javascript:void(0);" onclick="files('ncoreajax3307450_files', '3307450');">Fájlok (2)</a>
    </div>
    <div class="download_separ"></div>
    <!-- mafab deactivated -->
    <!--	 <div class="t_mafab">
            <a href="javascript:void(0);" onclick="getMafab('ncoreajax_mafab', 'tt', , 0);"><img src="static/images/mafab_logo.png" style="height: 19px; width: 59px; " /></a>
        </div>-->
</div>
<div class="torrent_lenyilo_tartalom">

    <table class="torrent_kep_ico">
        <tr>

            <td class="kepmeret_ico">
                <div class="torrent_kep_ico2">
                    <a class="fancy_groups" rel="g3307450" href="https://nc-img.cdn.l7cache.com/jvwXZ163vhrCzeNl?27454153">
                        <img class="attached_link" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7">
                    </a>
                </div>
            </td>
            <td class="kepmeret_ico">
                <div class="torrent_kep_ico2">
                    <a class="fancy_groups" rel="g3307450" href="https://nc-img.cdn.l7cache.com/N-j_-wDVLcRfzX0v?27454153">
                        <img class="attached_link" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7">
                    </a>
                </div>
            </td>
            <td class="kepmeret_ico">
                <div class="torrent_kep_ico2">
                    <a class="fancy_groups" rel="g3307450" href="https://nc-img.cdn.l7cache.com/AL9ekAg3wFLhlBZl?27454153">
                        <img class="attached_link" src="data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAPAA8AAAINlI+py+0Po5y02otnAQA7">
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="kepmeret_txt"><em>(720x576)</em></td>
            <td class="kepmeret_txt"><em>(720x576)</em></td>
            <td class="kepmeret_txt"><em>(720x576)</em></td>
        </tr>
    </table>
    <div class="hr_stuff"></div>		<center><div class="banner" data-id="1063" data-banner-id="1042" data-zone-id="1,2,3,4"><iframe src="https://unibet-unibet.bannerflow.com/bf-banners/5f1ae3088fe79315d06e2dc7.html?cb=637735367325109784&amp;clickpixel=%2F%2F55dacb16e347271ec0d5101b.tracker.bannerflow.com%2Fapi%2Ftr%2Fclick%3Fdata%3D%257B%2522account%2522%253A%2522unibet%2522%252C%2522brand%2522%253A%252255dacb16e347271ec0d5101b%2522%252C%2522placement%2522%253A%25225f1afb6b8fe79315d06e3d9f%2522%252C%2522ad%2522%253A%25225f1ae3088fe79315d06e2dc8%2522%252C%2522bannerset%2522%253A%25225f1059011bd8d3151451a466%2522%252C%2522banner%2522%253A%25225f1ae3088fe79315d06e2dc7%2522%252C%2522spotIndexes%2522%253A0%252C%2522bannerIds%2522%253A%25225f1ae3088fe79315d06e2dc7%2522%257D&amp;targetwindow=_blank&amp;pid=282205&amp;bid=35949&amp;ref=https%3A%2F%2Fb1.trickyrock.com%2Fad.aspx" class="bf_animated" style="max-width:728pxnone !important; max-height:90pxnone !important;width:728px;height:90px; background-color: transparent; border: medium none; opacity: 1;" scrolling="no" id="bf_16385224284169356" frameborder="0"></iframe></div></center><div class="hr_stuff"></div>
    <div align="center" id="ncoreajax3307450_subtitles"></div>
    <div align="center" id="ncoreajax3307450_nfo"></div>
    <!-- <div align="center" id="ncoreajax_mafab"></div> -->
    <div align="center" id="ncoreajax3307450_files"></div>
    Címkék: <a style="border-bottom:1px dotted white;" href="torrents.php?tags=akci%C3%B3">akció</a>, <a style="border-bottom:1px dotted white;" href="torrents.php?tags=kaland">kaland</a>, <a style="border-bottom:1px dotted white;" href="torrents.php?tags=fantasy">fantasy</a>, <a style="border-bottom:1px dotted white;" href="torrents.php?tags=thriller">thriller</a>, <a style="border-bottom:1px dotted white;" href="torrents.php?tags=h%C3%A1bor%C3%BAs">háborús</a><br><br>Kérés azonosító: <a href="requests.php?action=details&id=142966" target="_blank">142966</a><br><br><span style="text-decoration:underline">Menü:</span> van
    <br /><span style="text-decoration:underline">Felirat(ok):</span> magyar, angol
    <br /><span style="text-decoration:underline">Hangsáv:</span> magyar 2.0; angol 2.0; angol 5.1
    <br /><span style="text-decoration:underline">Extra:</span> vannak
    <br />
    <br /><span class="highlight">
        A gyári DVD 1:1-ben:
        <br /><a href="https://dereferer.link/?https://www.xpress.hu/a-kiraly-neveben-extra-valtozat" target="_blank" class="bb-url">https://www.xpress.hu/a-kiraly-neveben-extra-valtozat</a>
        <br />
        <br />Extrák:
    </span>
    <br />- Képgaléria
    <br />- Egyéb - posztergaléria
    <br />- Werkfilm (így készült)
    <br />- Egyéb - A színfalak mögött
    <br />- Kimaradt jelenetek
    <br />- Előzetes
    <br />- Tévészpot (televíziós előzetes)
    <br />- Audiókommentár
    <br />
    <br /><span class="highlight">Leírás:</span>
    <br />Fia meggyilkolása és felesége elrablása után Farmer, az Ebh Királyság egyszerű alattvalója bosszúhadjáratra indul és az Uralkodó valamint a trónfosztásra készülő gonosz Gallian harcának kellős közepébe kerül... Farmernek választania kell, vagy folytatja küzdelmét, de már nem pusztán a bosszúért, hanem egy nagyobb cél, a Királyság megmentése érdekében, vagy visszavonul vidéki otthonába és ott várja be a sötét erők pusztító dühét.
</div>
<div class="torrent_lenyilo_lab"></div>