<h1>Search results</h1>

@await Html.PartialAsync("_SearchHeaderPartial")

@if (ViewData["torrentdata"] != null)
{
    <br />
    @await Html.PartialAsync("/Views/Home/_TorrentSearchResultsTable.cshtml")
}
else
{
    
    <h5 class="text-center mt-5 pt-5">here be torrents soon</h5>
}


